h1{
    border: 2px;
    border-radius:20px;
    margin-left: 25%;
    margin-right: 25%;
    padding-top : 10px;
    padding-bottom: 10px;
    text-align: center;
    border-color: rgb(20, 20, 20);
    border-style: solid;
    color: #b00be2;
        font-size: 35px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        -webkit-text-stroke: 2px rgb(12, 12, 12);
   background-color: rgb(252, 138, 138); 
}
div{
    border: 2px;
    background-color: rgb(37, 202, 224);
    border-color: rgb(20, 20, 20);
    border-style: solid;
    margin: 40px;
    overflow: auto;
    border-radius: 20px;
}
p{
  
    margin: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom:10px;
    text-align:justify ;
    font-family:Arial, Helvetica, sans-serif;
    word-spacing: 2px;
    line-height: 1.6;
    
    
   
    color: rgb(20, 20, 20);
    font-size: 18px;
    


}
#firstimg{ 
    margin-right: 15px;
    margin-top: 10px;
    padding-top: 30px;
     padding-right: 30px;
     padding-left: 10px;


}
#first{
    margin-right: 50px;
    margin-top:50px ;
     
    
    width: 250px;
    height: 150px;
    padding: 10px;
     
    
   
}
#pics{
    margin-left: 10px;
 
     margin-right: 10px;
     margin-top: 10px;
     margin-bottom: 10px;
    width: 200px;
    height: 150px;
}
body{
    background-image: url(./blackback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}